/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --accent-color: #a876aa;
  --background-color: #eeeeee;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
  margin: 0;
}

.lower-options-panel{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container_msg {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  height: auto; /* Change to auto to allow content to determine height */
  max-width: 600px; /* Set maximum width */
  margin: 20px auto; /* Center the container with margin:auto */
  overflow: hidden; /* Hide overflow */
}

.message-input-box{
  padding: 6px;
  border-radius: 10px;
}

.container_msg p {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  margin: 20px;
  color: var(--accent-color);
}

.header .avatar {
  background-color: var(--accent-color);
  align-self: center;
  padding: 5px;
  width: 50px;
  border-radius: 50%;
}

.header h3 {
  margin-left: 20px;
  margin-right: auto;
}

.header i {
  margin: 0 10px;
}

.chat {
  background-color: #fff;
  height: 100%;
  min-height: 200px;
  overflow: auto;
  padding: 10px;
}

.message {
  font-size: 16px;
  /* line-height: 25px; */
  width: fit-content;
  max-width: 450px;
  margin: 20px 10px;
  padding: 13px;
  border-radius: 30px;
}

.message.joke {
  background-color: var(--accent-color);
  color: #fff;
  border-top-left-radius: 0px;
  padding-left: 12px;
}

.message.response {
  background-color: #eee;
  border-top-right-radius: 0px;
  margin-left: auto;
  padding-right: 12px;
}

/* .btn {
  display: flex;
  background-color: #eee;
  color: var(--accent-color);
  font-family: inherit;
  border-radius: 50px;
  padding: 14px 40px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: scale 0.2s ease;
}

.btn i {
  margin-left: auto;
}

.btn:hover {
  scale: 1.01;
}

.btn:active {
  scale: 0.99;
} */

/*=============== SCROLLBAR ===============*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 5px;
}

/*=============== MEDIA QUERY ===============*/

.typing {
  align-items: center;
  display: flex;
  height: 10px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #6CAD96 ;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color:#EADCB8; 
  }
  28% {
    transform: translateY(-7px);
    background-color:#F1E4CC; 
  }
  44% {
    transform: translateY(0px);
    background-color: #D8C9A3;
  }
}